if BOARD_CSK6011A_ROBOT_NANO

config BOARD
   default "csk6011a_robot_nano"

if WIFI

choice CSK_WIFI_OFFLOAD_MODULE
   prompt "WiFi Offload Module"
   default CSK_WIFI_ESP32C3

	config CSK_WIFI_ESP32C3
      bool "ESP32C3"

	config CSK_WIFI_XR819S
      bool "XR819S"

endchoice

endif # WIFI

if BT

choice BT_HCI_BUS_TYPE
	default CSK_BLE_ESP32C3
endchoice

endif # BT

endif # BOARD_CSK6011A_ROBOT_NANO
